{% extends 'base.html' %}

{% block content %}
    <div class="bg-lagon p-4 pb-[200%]">
        <a href="{% url 'Home Page' %}" >
            <h1 class="text-yellow-300 text-xl text-center py-4 mb-4">
                Console du site Nation Sound 77
            </h1>
        </a>
        <hr class="my-1">
        <h2 class="text-yellow-300">Connexion</h2>
        <hr class="my-1">
        <form method="POST" class="flex flex-col md:w-1/2 xl:w-1/4">
            {% csrf_token %}
            <p class="my-4 flex flex-col">
                <label for="username" class="text-white">Nom d'utilisateur</label>
                <input class="rounded-lg" id="username" type="text" name="username">
            </p>
            <p class="my-4 flex flex-col">
                <label for="password" class="text-white">Mot de passe</label>
                <input class="rounded-lg" id="password" type="password" name="password">
            </p>
            <button class="border-2 p-1 rounded bg-gray-500 font-bold mt-8 text-gray-800" type="submit">Connexion</button>
        </form>
        {% if messages %}
        <ul class="mt-8 text-red-500 bg-yellow-500 pl-4 font-bold rounded md:w-1/2 xl:w-1/4">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}