{% extends 'base.html' %}

{% block content %}
    <div class="bg-lagon p-4 pb-[200%]">
        <a href="{% url 'Home Page' %}" >
            <h1 class="text-yellow-300 text-xl text-center py-4 mb-4">
                Console du site Nation Sound 77
            </h1>
        </a>
        <hr class="my-1">
        <h2 class="text-yellow-300">Inscription</h2>
        <hr class="my-1">
        <form method="POST" class="flex flex-col md:w-96">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <p class="mt-4 flex flex-col">
                <label for="{{ form.username.id_for_label }}" class="text-white">Nom d'utilisateur</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <ul class="text-red-500 bg-yellow-300 font-bold p-2 rounded">
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </p>
            <p class="mt-8 flex flex-col">
                <label for="{{ form.password.id_for_label }}" class="text-white">Mot de passe</label>
                {{ form.password }}
                {% if form.password.errors %}
                    <ul class="text-red-500 bg-yellow-300 font-bold p-2 rounded">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </p>
            <button class="border-2 p-1 rounded bg-yellow-400 text-lagon font-bold mt-12" type="submit">S'inscrire</button>
        </form>

        {% if messages %}
        <ul class="mt-16 text-red-500 bg-yellow-300 font-bold p-2 rounded md:w-96">
            {% for message in messages %}
                <li >{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}       
    </div>
{% endblock %}