{% extends 'base.html' %}

{% block content %}
<div class="text-gray-800 m-4">
    <h2 class="bg-gray-300 p-2 text-xl rounded-lg my-4">Bienvenue sur la console du site Nation Sound 77 !</h2>
    <h3 class="py-1">{{date | date:"d F Y H:m:s"}}</h3>
    <hr>
    <div class="py-1">
        {% if user.is_authenticated %}
            <span>Bienvenue, </span>{{ user.username }}
            <hr>
            <a href="{% url 'logout' %}">Déconnexion</a>
            <hr>
        {% else %}
            <a href="{% url 'login' %}">Connexion</a>
            <hr>
            <a href="{% url 'signup' %}">S'inscrire</a>
            <hr>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="bg-blue-500">
        <a href="http://127.0.0.1:8000/admin/login/?next=/admin/">Console admin data et écrans</a>
    </div>
    <br/>
    <div>
        <a href="http://127.0.0.1:8000/apirest/">Console API</a>
    </div>
    <hr>
    <div>
        <h1>Les pages externes</h1>
        <ul>
            <li>
                <a href="{% url 'ecranReact-faq' %}">La FAQ</a>
            </li>
            <li>
                <a href="{% url 'ecranReact-contacts' %}">Les contacts</a>
            </li>
            <li>
                <a href="{% url 'ecranReact-partenaires' %}">Les partenaires</a>
            </li>
            <li>
                <a href="{% url 'ecranReact-mentionslegales' %}">Mentions Légales</a>
            </li>
        </ul>        
    </div>
</div>

    {% endif %}
{% endblock %}