{% extends 'base.html' %}

{% block content %}
    <h1>NOUS CONTACTER</h1>
    <hr>
    {% for contact in contacts %}
        <img src="{{ contact.visuel.url }}" alt="{{ contact.visuel.url }}" style="max-width: 100px;">
        <p>Adresse : </p>
        <p>{{ contact.adresse }}</p>
        <p>Horaires d'ouverture : </p>
        <p>{{ contact.horaires }}</p>
        <p>Mail : </p>
        <p>{{ contact.mail }}</p>
        <p>Téléphone : </p>
        <p>{{ contact.telephone }}</p>
        <hr>
    {% endfor %}
{% endblock %}