{% extends 'base.html' %}

{% block content %}
    <div class="bg-beige">
        <!-- <h1>NOUS CONTACTER</h1> -->
        <hr>
        {% for contact in contacts %}
            <div class="w-3/5 mx-auto py-4 text-white">
                <img src="{{ contact.visuel.url }}" alt="{{ contact.visuel.url }}">
                <div class="bg-blue-900 p-4 my-4">
                    <p class="underline italic font-bold">Adresse du festival : </p>
                    <p>{{ contact.adresse }}</p>
                </div>
                <div class="bg-blue-900 p-4 my-4">
                    <p class="underline italic font-bold">Horaires d'ouverture : </p>
                    <p>{{ contact.horaires }}</p>
                </div>
                <div class="bg-blue-900 p-4 my-4">
                    <p class="underline italic font-bold">Mail : </p>
                    <p>{{ contact.mail }}</p>
                </div>
                <div class="bg-blue-900 p-4 mt-4 mb-[200%]">
                    <p class="underline italic font-bold">Téléphone : </p>
                    <p>{{ contact.telephone }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}